.grid-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .25rem;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    height: auto;

    .grid-image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;

        .delete-piece {
            position: absolute;
            background-color: $white;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            transition: 200ms ease;

            top: calc(100% - 40px - 1rem);
            right: 1rem;
            cursor: pointer;

            &:hover {
                background-color: red;
            }
        }

        &:hover {
            .image {
                scale: 1.1;
            }
        }

        .user {
            position: absolute;
            left: 1rem;
            top: calc(100% - 50px - 1rem);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            

            .user-details {
                transition: 200ms ease;
                position: absolute;
                z-index: 1;
                display: flex;
                color: $white;
                font-weight: bold;
                cursor: pointer;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                width: 200px;
                height: 50px;
                left: -.5rem;
                top: -.25rem;

                .user-name {
                    width: fit-content;
                    background-color: $accent;
                    padding: .5rem;
                    border-radius: 8px;

                }
            }

            &:hover {
                .user-details {
                    transform: translateX(50px);
                    opacity: 1;
                    pointer-events: all;

                }
            }

            .image-wrapper {
                width: 40px;
                height: 40px;
                border-radius: 25px;
                overflow: hidden;
                z-index: 99;
                transition: 200ms ease;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
        }
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
    }
}

.v-span {
    grid-row: span 2;
}

.h-span {
    grid-column: span 2;
}

.vh-span {
    grid-row: span 2;
    grid-column: span 2;
}

@media screen and (max-width: 500px) {
    .grid-images {
        grid-template-columns: auto;
    
        .v-span {
            grid-row: span 1;
        }
        
        .h-span {
            grid-column: span 1;
        }
        
        .vh-span {
            grid-row: span 1;
            grid-column: span 1;
        }
    }
    

}