* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    outline: none;
    border: none;
    font-family: $ff-main;

}

a {
    text-decoration: none;
}

body {
    font-family: $ff-main;
    overflow-x:hidden;
}

#root {
    min-height: calc(100dvh - 180px);

}

.article {
    padding: clamp(.25rem, 1vw, 1rem);
    margin: 2rem 0;
    min-height: calc(100dvh - 90px - 4rem - 90px);

}

::selection {
    background-color: $accent;
    color: black;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: $white;
}


::-webkit-scrollbar-thumb {
    background: $accent;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}

.btn {
    padding: .75rem;
    font-size: 1.15rem;
    cursor: pointer;
    width: 100%;
    background-color: $secondary-color;
    border: 2px solid $black;
    transition: 100ms ease-in-out;

    &:hover {
        background-color: $accent;
    }

    &:active {
        scale: .95;
    }
}